

<!-- {{str|slice:0:2}}
{{256| currency:"INR"}} -->

<!-- <h1>{{toDate | date:'medium'}}</h1> -->


<!-- <h1 [ngStyle]="{
    'font-weight':'bold',
    'color':color

}">Hello Thrisith</h1>
<input type="text" [(ngModel)]="color"/> -->


<!-- <h1>ngClass</h1>
<label>Make Red & Bold<input type="checkbox" [(ngModel)]="makeRed"/></label>
<div [ngClass]="{'primary':makeRed,'bold':makeRed}">
    Hello Thrisith
</div> -->




<!-- <h1>ngIf</h1>
<div class="row">
    <label for="checkbox">Checkbox Uh! 
    <input type="checkbox" [(ngModel)]="showContent"/></label>
    <h2 *ngIf="showContent; then thenBlock else elseBlock">Content Showed</h2>
    <ng-template #elseBlock>
        <h2>Content Not Showed</h2>
    </ng-template>
    <ng-template #thenBlock>
        <h2><i>Then Block</i></h2>
    </ng-template>
</div> -->




<!-- 
<input type="number" [(ngModel)]="num"/>
<h1>{{num}}</h1>
<div [ngSwitch]="num">
    <div *ngSwitchCase=1>One</div>
</div> -->


<!-- <div>
    <div>
        <h1>{{title}}</h1>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Characters</th>
                    <th>URLs</th>
                </tr>
            </thead>
            <tbody>
                <tr
                [ngClass] = '{"table-success":o, "table-warning":l}' 
                *ngFor="let movie of movies; let i=index;let e= even;let o = odd; let f = first; let l = last;">
                    <td>{{i+1}}</td>
                    <td style="text-transform: capitalize;">{{movie.name}}
                    </td>
                    <td><a href="{{movie.url}}" target="_blank">{{movie.url}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->





<!-- 
<input type="text" (input)="handleInput($event); value2=$any($event.target).value" value="{{value}}"/>
<h1>{{value}}</h1>
<h2>{{value2}}</h2> -->


<!-- <button (click)="clickMe()" style="cursor: pointer;">{{count}}</button> -->


<!-- Basis -->
<!-- <h1 style.color="{{color}}">{{getName()}}</h1>
<p>{{getMax(100,101)}}</p>
<h2 [innerText]="getName()"></h2>
<button [disabled]="isDisabled(true)">Submit</button> -->
