/* You can add global styles to this file, and also import other style files */
body{
    /* margin-left: 10%; */
    width: 500px;
    margin: auto;
    background-color: rgb(23, 23, 23);
    color: white;
}